<%= form_tag @account, method: :get do %>
  <div class="row">
    <div class="small-6 columns">
      <%= year_or_month_select %>
    </div>
    <div class="small-6 columns">
      <%= submit_tag "Select #{view_by.capitalize} to View", class: 'tiny button radius', name: nil %>
    </div>
  </div>
<% end %>
