.row
  .small-12.columns
    = form_for @service do |f|
      = render 'shared/error_messages', object: f.object
      = hidden_field_tag :invoice_id, @service.invoice_id if params[:invoice_id] && !@service.invoice.nil?

      = render 'services/fields', f: f
