.scroll_overflow-x
  %table
    %thead
      %tr
        %th Invoice#
        %th Performed on
        %th Memo
        %th Cost
        - if current_user.is_admin?
          %th Edit
          %th Delete

    %tbody
      - @services.each do |service|
        - if service.persisted?
          = render 'services/history_table_row', service: service

= paginate @services
