.outline
  %h4 Invoiceable Services
  .row
    .small-12.columns.total_amount
      %label
        Invoiceable Cost Total:
        %span.large_red_text= number_to_currency(@account.sum_invoiceable_services)

  = render 'services/invoiceable_table'
