<% if @services.by_not_used.any? %>
  <h4>Invoiceable Services</h4>
  <div class="row">
    <div class="small-12 columns total_amount">
      <label>
        Invoiceable Cost Total:
        <span><%= number_to_currency(@account.sum_invoiceable_services) %></span>
      </label>
    </div>
  </div>

  <div class="hide-for-medium-up"><%= render 'services/invoiceable_badges' %></div>
  <div class="show-for-medium-up"><%= render 'services/invoiceable_table' %></div>

  <hr>
<% end %>
