- if @services.by_not_used.any?
  %h4 Invoiceable Services
  .row
    .small-12.columns.total_amount
      %label
        Invoiceable Cost Total:
        %span= number_to_currency(@account.sum_invoiceable_services)

  .hide-for-medium-up= render 'services/invoiceable_badges'
  .show-for-medium-up= render 'services/invoiceable_table'
  %hr/
