<% provide(:title, 'Edit Service') %>

<div class="row">
  <div class="small-12 columns">

    <h1>Editing service</h1>

    <%= render 'form' %>

    <%= link_to 'Back', account_path(@account) %>

  </div>
</div>
