<% provide(:title, 'Edit Service') %>

<div class="row">
  <div class="small-12 columns">

    <h1>Editing Service</h1>

    <%= render 'form' %>

    <%= link_to "#{@account.name} Account", @account, class: 'small button radius' %>

  </div>
</div>
