.row
  .small-12.columns
    %br/

    = link_to edit_company_path do
      .outline
        = render 'companies/header_preview'

    .outline
      = link_to accounts_path do
        %h4 Accounts

    = render 'dashboard/new_service'
