.row
  .small-12.columns
    %br/

    = link_to edit_company_path do
      .outline
        = render 'companies/header_preview'

    .outline
      %b= link_to 'Accounts', accounts_path

    = render 'dashboard/new_service'
