.row
  .small-12.columns
    %br/

    .outline
      .row
        .small-8.columns
          = render 'companies/header_preview'
        .small-4.columns
          .pad-top.right
            = link_to edit_company_path, title: 'Edit Company' do
              %i.page.fi-page-edit

    = render 'dashboard/recent_accounts'

    = render 'dashboard/new_service'
