.outline
  %h4 Overview of #{Date.current.strftime('%B')}

  .row
    .small-12.columns
      .label_size
        %b Company Accounts:
        = @accounts.count

  .row
    .small-12.columns
      = content_tag :div, '', id: 'moneyHealth', style: 'width:100%; height:200px;',
      data: { amounts: current_company.money_health(:month, Date.current) }

  .label_size= link_to 'View company reports', reports_path
