.outline
  %h4 Overview of #{Date.current.strftime('%B')}

  .row
    .small-12.columns
      %p
        %b Company Accounts:
        = current_company.accounts.count

  .row
    .small-12.columns
      = content_tag :div, '', id: 'money_health', style: 'width:100%; height:200px;', data: { amounts: @money_health }
