<p>Hello <%= "#{@user.name}, <#{@user.email}>" %></p>

<p><%= @invoice.company.owner.name %> has invited you to <%= link_to 'donnagibbs.herokuapp.com', root_url %>, to view an invoice created for you. You can view this invoice through the link below.</p>

<p><%= link_to 'Your Invoice', invoice_url(@invoice) %></p>
