<%= form_for current_account,
             url: change_account_header_invoices_path(@invoice, id: @invoice.id),
             html: { id: 'change_account_header' } do |f| %>

  <div class="row">
    <div class="small-12 medium-12 large-4 columns">
      <label><%= f.check_box :uses_account_name %> Use Account/Company name on invoices</label>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <label><%= f.check_box :uses_contact_name %> Use Contact name on invoices</label>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <%= submit_tag 'Update Account Header', class: 'tiny button radius' %>
    </div>
  </div>
<% end %>
