.outline
  = form_for @invoice do |f|
    = render 'shared/error_messages', object: f.object

    = render 'invoices/date_tax_fields', f: f

    = f.submit 'Update Date and Sales Tax', class: 'tiny button radius'
