#invoiceable.anchor
.outline
  .row
    .small-12.medium-6.large-6.columns
      %h4 Invoiceable Services
    .small-12.medium-6.large-6.columns
      %label
        Invoiceable Total:
        %span.large_red_text= number_to_currency(@account.sum_invoiceable_services)
      %br/

  = render 'invoices/invoiceable_form'
