.row
  .small-12.columns
    %ul.inline-list
      %li.pad-top-medium
        Invoice Status:

      - if invoice.archived?
        %li{ class: %w[stamp_font blue_text], title: 'INVOICES can only be EDITED or DELETED when no payments are applied!' }
          {archived}

      - else
        %li.stamp_font.green_text
          {open}

      - if invoice.paid_in_full?
        %li.stamp_font.red_text
          [paid_in_full]
