- if object.errors.any?
  #error_explanation.alert-box{data: {alert: true}}
    %h2
      Form contains #{pluralize(object.errors.count, 'error')}
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
    %a.close{href: "#"} &times;
