.row
  .small-12.columns
    %br/

    - if flash[:alert]
      .alert.callout{data: {closable: true}}
        = flash[:alert]
        %button.close-button{aria: {label: 'Dismiss alert'}, data: {close: true}, type: 'button'}
          %span{aria: {hidden: 'true'}} ×

    - if flash[:notice]
      .primary.callout{data: {closable: true}}
        = flash[:notice]
        %button.close-button{aria: {label: 'Dismiss alert'}, data: {close: true}, type: 'button'}
          %span{aria: {hidden: 'true'}} ×
