<h4>If you are a small business owner, you have come to the right place!</h4>
<ul>
  <li>Create or change an account anytime and everywhere you have access to the internet.</li>
  <li>Easily keep track of your accounts, services provided, invoices and payments received.</li>
  <li>Create invoices with the push of a button.</li>
  <li>Invite your customers to view there account history.</li>
  <li>Generate tax statements with ease.</li>
  <li>Easily see when there is an outstanding balance on an account.</li>
</ul>

<h4>What can EasyKeep do for me?</h4>
<p>We understand that as a small business, keeping track of your accounts can be quite time consuming. Maybe
  you've tried other business applications and found they where more than you needed and not very user
  friendly. We are here to show you that keeping track of your business doesn't have to be a burden.</p>

<p><b>Accessibility - </b>You can get to your EasyKeep account from any device that has access to the internet.
  You will never need to wait till you get home to manage your accounts again. EasyKeep looks great on any size
  device.</p>

<p><b>Accounts - </b>Have all your customers and there information in one place.</p>

<p><b>Services - </b>Each time you provide a service to a customer, simply add it to that customers account.
  Set the date, cost, a memo if you'd like, and your done.</p>

<p><b>Invoices - </b>When you are ready to create an invoice with the services you have recorded, click the button 'Invoice Checked Services'. It's really that easy!</p>



<!-- Need to get this part to customer accept invitation page -->

<h4>Customers</h4>
<p>You can view your account history all in one place, anytime and everywhere.</p>

<ul>
  <li><b>Services</b> - See when we were there and the cost of our visit.</li>
  <li><b>Invoices</b> - See how much you owe and and how much you've paid.</li>
  <li><b>Account info</b> - Phone number or email address change? Update your account info so we can
    keep in touch.</li>
</ul>


Have someone you want to over see your accounts? No problem. Invite them to become an admin over your accounts.
Different user roles have different role permissions. An Owner of course has total control. An Admin has total control
over the accounts. A Customer can only view there own account information and they can also change there contact
information so you can always have current information.

This app is geared for small businesses with no overhead and provides a service such as:

+ house keeping
+ interior design
+ baby sitting
+ lawn care
+ ect.
