- provide(:title, 'About')

.row
  .small-12.columns
    %h1 About EasyKeep

    %h4 If you are a small business owner, you have come to the right place!
    %ul
      %li Create or change an account anytime and everywhere you have access to the internet.
      %li Easily keep track of your accounts, services provided, invoices and payments received.
      %li Create invoices with the push of a button and invite customers to view them.
      %li Generate tax statements with ease.>
      %li Easily see when there is an outstanding balance on an account.
      %li Invite your customers to view their account history.

    %h4 What can EasyKeep do for me and my business?
    %p
      We understand that as a small business, keeping track of your accounts can be quite time consuming. Maybe
      you've tried other business applications and found they where more than you needed and not very user
      friendly. We are here to show you that keeping track of your business doesn't have to be a burden.
    %p
      %b Accessibility -
      You can get to your EasyKeep account from any device that has access to the internet.
      You will never need to wait till you get home to manage your accounts again. EasyKeep looks great on any size
      device.
    %p
      %b Accounts -
      Have all your customers and their information in one place.
    %p
      %b Services -
      Each time you provide a service to a customer, simply add it to that customers account.
      Set the date, cost, a memo if you'd like, and your done.
    %p
      %b Invoices -
      When you are ready to create an invoice with the services you have recorded, click the
      button 'Invoice Checked Services'. It's really that easy! Now either print or invite your customers to view
      their invoice online.
    %p
      %b Payments -
      To record the payments you receive directly to an invoice, click the 'Apply Payment'
      button on the invoice associated with the payment.
    %p
      %b Tax time -
      EasyKeep automatically creates yearly and quarterly reports from your recorded payments.
      All you have to do is tell us what year or quarter you need to report and print.
    %p
      %b Outstanding balances -
      We have made it very easy to see when an account has a service that has not
      been invoiced or an invoice that has not been paid in full. On your companies account listings, there are two
      columns, 'All services invoiced' and 'All invoices P.I.F. (Paid In Full)'. You will never be left wondering
      if you have been paid for your service again.
    %p
      %b Invitations -
      Invite your customers to view their service history, invoices, and payment history
      online. All you need is their email address. Of course if you prefer, invoices are printable.
    %p
      %b Admins -
      Have someone you want to over see your accounts? No problem! Invite them to become an admin
      over your accounts.
    %p
      %em
        This app is geared for small businesses with no overhead and provides a service such as house keeping,
        interior design, lawn care, baby sitting, etc.

    %p.center= link_to 'Sign up', new_user_registration_path, class: 'button radius' unless user_signed_in?
