<% provide(:title, 'Contact us') %>

<div class="row">
  <div class="small-12 columns">
    <h1>Contact EasyKeep</h1>

    <ul>
      <li>Have a suggestion?</li>
      <li>found a bug?</li>
      <li>or just want to tell us how much you love EasyKeep?</li>
    </ul>

    <p>
      <%= mail_to('tonywinslow13+easykeep@gmail.com', 'Send us an email.', target: '_blank') %>
      We would love to hear from you.
    </p>
  </div>
</div>
