<div class="row">
  <div class="small-12 columns"><br>
    <div class="small-9 columns">
      <%= render 'app_info' %>
    </div>
    <div class="small-3 center columns panel">
      <p>Existing users</p>
      <%= link_to 'Sign in', new_user_session_path, class: 'large button radius' %>
      <br>
      <hr>
      <br>
      <p>You must be invited to view your account information</p>
    </div>

  </div>
</div>

