<div class="row">
  <div class="small-12 columns">
    <h1>Welcome to House Keeping</h1>
    <%= link_to 'Sign in', new_user_session_path, class: 'small button radius' unless user_signed_in? %>
  </div>
</div>

