<div class="row">
    <div class="small-12 medium-9 large-9 columns">
      <h1><%= image_tag('invoice_folder.png') %> EasyKeep</h1>

      <h4>If you are a small business owner, you have come to the right place!</h4>
      <ul>
        <li>Create or change an account anytime and everywhere you have access to the internet.</li>
        <li>Easily keep track of your accounts, services provided, invoices and payments received.</li>
        <li>Create invoices with the push of a button and invite customers to view them.</li>
        <li>Generate tax statements with ease.</li>
        <li>Easily see when there is an outstanding balance on an account.</li>
        <li>Invite your customers to view their account history.</li>
      </ul>

      <h2 class="center">Go from Mess to Success</h2>
      <%= image_tag('files_to_web.png') %>

      <p><em>This app is geared for small businesses with no overhead and provides a service such as house keeping,
        interior design, lawn care, baby sitting, etc.</em></p>
    </div>

    <br>

    <div class="small-12 medium-3 large-3 columns panel">
      <h4>Existing users</h4>
      <%= link_to 'Sign in', new_user_session_path, class: 'large button radius expand' %>
      <p>Customers must be invited to view their account history</p>

      <hr>

      <h4>Company owner</h4>
      <%= link_to 'Sign up', new_user_registration_path, class: 'large button radius expand' %>
      <p>If you are the owner of a company and would like to easily keep track of the services you provide and invoice
        your customers</p>
    </div>
</div>
