<dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1">Let your customers know more about your company...</a>
    <div id="panel1" class="content">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Optional information</a></dd>
        <dd><a href="#panel2-2">Service provided</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <p>established on date and license number goes here...</p>
        </div>
        <div class="content" id="panel2-2">
          <p>service provided and service summery goes here...</p>
        </div>
      </div>
    </div>
  </dd>
</dl>

<br>
