.row
  .small-12.columns
    %h3 Roles Explanation

    %h5 Owner:
    %p
      An owner is the user who created the company on this site. The owner has full access to all the features of
      the site. There can only be one owner role in a company. The owner is the only user that can edit, destroy,
      or create a company and invite users to become an admin of the accounts.

    %h5 Admin:
    %p
      Consider an admin as a partner or supervisor over the company's accounts. An admin can not have an account
      with the company. If you have an admin that is also a customer the admin will need a separate email address
      for both there admin and customer roles.

    %h5 Customer:
    %p
      A customer only has access to there own account information. Such as viewing there service, invoice, and
      payment history. Customers can also edit there contact information so your records are always up do date.

  .small-12.columns
    %h3 Role Permissions
    %p
      Owner = O, Admin = A, Customer = C

    .scroll_overflow-x
      %table
        %thead
          %tr
            %th Permission
            %th View
            %th Create
            %th Edit
            %th Delete
        %tbody
          %tr
            %td Personal information
            %td O, A, C
            %td O, A
            %td O, A, C
            %td O
          %tr
            %td Personal account
            %td C
            %td
            %td C
            %td
          %tr
            %td Admin users
            %td O, A
            %td O
            %td
            %td O
          %tr
            %td Company
            %td O, A
            %td O
            %td O
            %td O
          %tr
            %td All accounts
            %td O, A
            %td O, A
            %td O, A
            %td O
          %tr
            %td Service history
            %td O, A, C
            %td O, A
            %td O, A
            %td O, A
          %tr
            %td Invoice history
            %td O, A, C
            %td O, A
            %td O, A
            %td O, A
          %tr
            %td Payment history
            %td O, A, C
            %td O, A
            %td O, A
            %td O, A
          %tr
            %td Reports
            %td O, A
            %td
            %td O, A
            %td
