<% provide(:title, 'Edit Company') %>

<div class="row">
  <div class="small-12 medium-8 large-8 small-centered columns">

    <h1>Editing Company</h1>

    <%= render 'form' %>

    <ul class="inline-list">
      <li><%= link_to 'Company admins', company_path, class: 'small button radius' %></li>
      <li>
        <%= link_to 'Destroy Company', @company,
                    class: 'small alert button radius',
                    method: :delete,
                    confirm: 'Are you sure? This will permanently DELETE your COMPANY information and all ACCOUNTS, ADMINS, CUSTOMERS, SERVICES, INVOICES, and PAYMENTS attached to your COMPANY!' %>
      </li>
      <li><%= link_to 'Accounts listing', accounts_path, class: 'small button radius' %></li>
    </ul>

  </div>
</div>
