<% provide(:title, 'Edit Company') %>

<div class="row">
  <div class="small-12 medium-8 large-8 small-centered columns">

    <h1>Editing Company</h1>

    <%= render 'form' %>

    <ul class="inline-list">
      <li><%= link_to 'Company', company_path, class: 'small button radius' %></li>
      <li><%= link_to 'Accounts listing', accounts_path, class: 'small button radius' %></li>
    </ul>

  </div>
</div>

