<% provide(:title, 'Edit company') %>

<div class="row">
  <div class="small-12 large-8 small-centered columns">

    <h1>Editing company</h1>

    <%= render 'form' %>

    <%= link_to 'Accounts', accounts_path %>

  </div>
</div>

