<% provide(:title, 'Quarterly Report') %>

<div class="row">
  <div class="small-12 columns">

    <h1>Quarterly Report</h1>

    <%= render 'view_quarter_by' %>

    <table>
      <thead>
      <tr>
        <th>Account</th>
        <th><%= viewing_quarter %> quarter totals</th>
      </tr>
      </thead>

      <% @accounts.each do |account| %>
        <tbody>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.accounts_totals(active_date, view_quarter) %></td>
        </tr>
        </tbody>
      <% end %>
    </table>

  </div>
</div>
