@media print {
  html, body {
    overflow-x: visible !important;
  }

  @for $n from 1 through $grid-column-count {
    .large-#{$n} {
      width: percentage($n / $grid-column-count);
    }
  }

  .hide_on_print, .top-bar, #footer {
    display: none;
  }

  .panel {
    border: 1px solid #000000 !important;
  }

  table {
    border: 1px solid #000000 !important;
    page-break-inside: avoid;
    thead {
      border: 0 !important;
    }
    tbody {
      border: 0 !important;
    }
  }
}
