<% provide(:title, 'New Payment') %>

<div class="row">
  <div class="small-12 columns">

    <h3>New payment</h3>

    <%= render 'payments/form' %>

    <%= link_to 'Back', @invoice if @payment.errors.any? %>

  </div>
</div>
