<% provide(:title, 'New Payment') %>

<div class="row">
  <div class="small-12 columns">

    <h3>New payment</h3>

    <%= render 'payments/form' %>

    <% if @payment.errors.any? %>
      <ul class="inline-list">
        <li>Balance Due: <span class="red_text"><%= number_to_currency(@invoice.balance_due) %></span></li>
        <li><%= link_to 'Back', @invoice %></li>
      </ul>
    <% end %>

  </div>
</div>
