<% provide(:title, 'Edit Payment') %>

<div class="row">
  <div class="small-12 columns">

    <h1>Editing payment</h1>

    <%= render 'form' %>

    <ul class="inline-list">
      <li>Money Owed: <span class="red_text"><%= number_to_currency(@payment.money_owed_with_payment) %></span></li>
      <li><%= link_to 'Back', @invoice %></li>
    </ul>

  </div>
</div>
