- provide(:title, 'Editing Unit Type')

.row
  .small-12.columns
    %h1.main_page_header Editing Unit Type
    %br/

    = render 'form'

    = link_to 'Show', @unit
    \|
    = link_to 'Back', units_path
