- provide(:title, 'Unit Type')

.row
  .small-12.columns
    %h1.main_page_header Unit Type
    %br/

    %p
      %b Name:
      = @unit.name

    = link_to 'Edit', edit_unit_path(@unit)
    \|
    = link_to 'Back', units_path
