td.center_cell {
  text-align: center !important;
}

.text_area_height {
  height: 3.5em;
}

.z-index_1 {
  z-index: 1;
}

i {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.total_amount {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 110%;
  font-weight: bold;
  text-align: right;
  span.red {
    color: red;
  }
}
