@media print {
  .hide_on_print {
    display: none;
  }

  div.panel {
    border: 1px solid black;
  }

  table {
    border: 1px solid black;
    page-break-inside: avoid;
  }
}

table {
  width: 100%;
  td.title {
    width: 60%;
  }

  td.center_cell {
    text-align: center !important;
  }

  tr.divider-line {
    td {
      border-top: 2px solid #dddddd;
    }
  }
}


.center {
  text-align: center !important;
}

.prefix {
  z-index: 1;
}

i {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.total_amount {
  padding-top: 1em;
  span {
    color: red;
    font-size: 120%;
  }
}

.red_text {
  color: red;
}

li {
  span.red_text {
    display: inline;
  }
}

.paid_in_full {
  color: green;
  font-size: 180%;
  padding: 10px;
  border: 3px solid green;
  border-radius: 15px;
}

ul.small-text {
  li {
    font-size: 70%;
  }
}

ul.no_bullets {
  list-style-type: none;
}

dl.company_info {
  $column-gutter: 4.5em;
  @include grid-row($behavior: nest);

  dt {
    @include grid-column(2, $float: left);
  }

  dd {
    @include grid-column(10, $float: left);
  }
}

.inline-tiny-button {
  position: relative;
  height: 57px;
  margin-bottom: 17px;
  input {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    height: 35px;
  }
}

.user_status {
  width: 8em;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  margin: 0 !important;
}