@media print {
  .hide_on_print {
    display: none;
  }

  div.panel {
    border: 1px solid black;
  }

  table {
    border: 1px solid black;
    page-break-inside: avoid;
  }
}

table {
  width: 100%;
  td.totals {
    width: 8em;
  }

  td.center_cell {
    text-align: center !important;
  }

  tr.divider-line {
    td {
      border-top: 2px solid #dddddd;
    }
  }
}

.center {
  text-align: center !important;
}

.prefix {
  z-index: 1;
}

i {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.total_amount {
  padding-top: 1em;
  span {
    color: red;
    font-size: 120%;
  }
}

.red_text {
  color: red;
}

span.red_text {
  display: inline;
}

.green_text {
  color: #14b100;
}

ul.small-text {
  li {
    font-size: 70%;
  }
}

ul.no_bullets {
  list-style-type: none;
}

.inline-tiny-button {
  position: relative;
  height: 57px;
  margin-bottom: 17px;
  input {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    height: 35px;
  }
}

.user_status_button {
  width: 8em;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  margin: 0 !important;
}

.send_user_email_button {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  margin: 4px 0 7px 0 !important;
}

.disable_link {
  pointer-events: none;
  cursor: default;
}

.gray_text {
  color: #a9a9a9;
}

.text_area_height {
  height: 2em !important;
}

.pad-logo {
  padding-left: 1em;
}

.pad-top {
  padding-top: 0.5em;
}

span.italic_text {
  font-style: italic;
  display: inline;
}
