#error_explanation {
  @include alert;
  ul {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.alert-box {
  a{
    z-index: 100;
  }
}

.warning {
  background-color: #eaf02c !important;
  color: black !important;
  font-size: 110% !important;
}
