html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {padding-bottom: 120px;} /* must be same height as the footer */

footer {
  position: relative;
  margin-top: -120px; /* negative value of footer height */
  height: 120px;
  clear:both;

  #style_footer {
    border-style: solid;
    border-width: 1px;
    border-color: #606060;
    padding: 1.25rem;
    background: #606060;
    color: #cccccc;

    h5 {color: #2ba6cb;}

    a {color: #cccccc;}
    a:hover {color: #f6f6f6;}
  }
}
