@media print {
  html, body {
    overflow-x: visible !important;
  }

  @for $n from 1 through $grid-column-count {
    .large-#{$n} {
      width: percentage($n / $grid-column-count);
    }
  }

  .hide_on_print {
    display: none;
  }

  div.panel {
    border: 1px solid #b5b5b5;
  }

  table {
    border: 1px solid #b5b5b5;
    page-break-inside: avoid;
  }
}
