@media print {
  html, body {
    overflow-x: visible !important;
  }

  @for $i from 1 through $total-columns {
    .large-#{$i} {
      width: percentage($i / $total-columns);
    }
  }

  .hide_on_print {
    display: none;
  }

  div.panel {
    border: 1px solid #b5b5b5;
  }

  table {
    border: 1px solid #b5b5b5;
    page-break-inside: avoid;
  }
}
