@media print {
  html, body {overflow-x: inherit !important;}

  .hide_on_print {
    display: none;
  }

  div.panel {
    border: 1px solid black;
  }

  table {
    border: 1px solid black;
    page-break-inside: avoid;
  }
}
