@media print {
  html, body {overflow-x: inherit !important;}

  @for $i from 1 through $total-columns {
    .large-#{$i} {
      width: percentage($i / $total-columns);
    }
  }

  .hide_on_print {
    display: none;
  }

  div.panel {
    border: 1px solid black;
  }

  table {
    border: 1px solid black;
    page-break-inside: avoid;
  }
}
