html, body {overflow-x: hidden;}

table {
  width: 100%;
  td.totals {width: 8em;}

  td.center_cell {text-align: center !important;}

  tr.divider-line {
    td {border-top: 2px solid #dddddd;}
  }

  tr.applyPaymentTR {
    form {
      width: calc(100% - 2px);
    }
  }

  tr.active_row {
    background-color: #efffee;
  }

  tr.subject {
    background-color: skyblue;
  }
}

.scroll_overflow-x {overflow-x: auto;}
