.tabs {
  list-style: none;
  border-bottom: solid 1px #e6e6e6;
  display: block;
  height: 40px;
  padding: 0;
  margin-bottom: 20px;
}

.tabs dd:first-child {
  margin-left: 0;
}

.tabs dd.active {
  border-top: 3px solid #2ba6cb;
  margin-top: -3px;
}

.tabs dd {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}

.tabs dd.active a {
  cursor: default;
  color: #3c3c3c;
  background: #fff;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-weight: bold;
}

.tabs dd a {
  color: #6f6f6f;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0px 23.8px;
}

a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
}
