// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation_and_overrides";

/* error / alert messages */

.alert {
  @include alert;

  .close {
    font-size: 1.375em;
    padding: 5px 4px 4px;
    line-height: 0;
    position: absolute;
    top: 0.6em;
    right: 0.3125em;
    color: #333333;
  }
}

#error_explanation {
  @extend .alert;

  ul {
    margin-left: 1em;
    margin-right: 1em;
  }
}
