#footer
  #style_footer
    .row
      .medium-5.columns
        = link_to 'https://ttfh.co', target: '_blank' do
          = image_pack_tag 'TinFoilHat.svg'

      .medium-7.columns
        %ul.inline-list
          %li= link_to 'About EasyKeep', about_path
          %li= link_to 'Contact us', contact_us_path
          %li
            EasyKeep
            %span.italic_text v-3.6.1
