<footer class="hide_on_print">
  <div id="style_footer">
    <div class="row">
      <div class="small-12 medium-7 large-9 columns">
        <h5>EasyKeep</h5>
        <ul class="inline-list">
          <li><%= link_to 'About EasyKeep', about_path %></li>
          <li><%= link_to 'Contact us', contact_us_path %></li>
        </ul>
      </div>
      <div class="small-12 medium-5 large-3 columns">
        <!-- <%= link_to '#' do %> -->
          <h5>ManOnFire WebDesign</h5>
        <!-- <% end %> -->
      </div>
    </div>
  </div>
</footer>
