<footer>
  <div class="row">
    <div class="6-small columns">
      <p>EasyKeep</p>
    </div>
    <div class="6-small columns">
      <p>Man on Fire Developers Anthony Midili Frank Mattia</p>
    </div>
  </div>
</footer>
