<footer>
  <div class="row">
    <div class="small-4 columns">
      <H4>EasyKeep</H4>
    </div>
    <div class="small-4 columns">
      <h5>ManOnFire Developers</h5>
      <ul>
        <li>Anthony Midili</li>
        <li>Frank Mattia</li>
      </ul>
    </div>
    <div class="small-4 columns">
      <h5><%= mail_to('tonywinslow13+easykeep@gmail.com', 'Contact us') %></h5>
    </div>
  </div>
</footer>
