%div{id: "inviteCustomerModal#{account.id}", class: 'reveal large', data: { reveal: true }}
  %h1 Invitation Preview

  %hr/

  .disable_link= render 'devise/mailer/customer', resource: account.user

  %hr/

  = link_to 'Send Invitation', invite_customer_account_path(account), method: :post, class: 'tiny button radius'
  %button.close-button{aria: {label: 'Close modal'}, data: {close: true}, type: 'button'}
    %span{aria: {hidden: 'true'}} ×
