%div{id: "invoiceReadyModal#{invoice.id}", class: 'reveal large', data: { reveal: true }}
  %h1 Notification Preview
  %hr/

  .disable_link= render 'user_mailer/invoice_ready_message', invoice: invoice
  %hr/

  = link_to 'Send Notification', invoice_ready_invoice_path(invoice), class: 'tiny button radius'
  %button.close-button{aria: {label: 'Close modal'}, data: {close: true}, type: 'button'}
    %span{aria: {hidden: 'true'}} ×
