<div <%= "id=invoiceReadyModal#{invoice.id}" %> class="reveal-modal medium" data-reveal>
  <h1>Notification Preview</h1>

  <hr>

  <div class="disable_link">
    <%= render 'user_mailer/invoice_ready_message', invoice: invoice %>
  </div>

  <hr>

  <%= link_to 'Send Notification', invoice_ready_invoice_path(invoice),
              class: 'tiny button radius' %>

  <a class="close-reveal-modal">&#215;</a>
</div>
