<% provide(:title, 'Edit account') %>

<div class="row">
  <div class="small-12 large-8 small-centered columns">

    <h1><%= "Editing #{@account.name} account" %></h1>

    <%= render 'form' %>

    <%= link_to 'Show', @account %> |
    <%= link_to 'Back', account_path(@account) %>

  </div>
</div>