<% provide(:title, 'Edit Account') %>

<div class="row">
  <div class="small-12 medium-8 large-8 small-centered columns">

    <h1><%= "Editing #{@account.name} Account" %></h1>

    <%= render 'form' %>

    <%= link_to 'Back', account_path(@account), class: 'small button radius' %>
  </div>
</div>