<% provide(:title, 'New Account') %>

<div class="row">
  <div class="small-12 medium-8 large-8 small-centered columns">

    <h1>New Account</h1>

    <%= render 'form' %>

    <%= link_to 'Back', accounts_path %>

  </div>
</div>
